@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 350px;
    position: relative;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

#progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease;
}

.step {
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.step.active {
    border-color: var(--line-border-fill);
}

button {
    border: none;
    padding: 8px 23px;
    background-color: var(--line-border-fill);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    margin: 5px;
}

button:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}